<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    {% if_equal(5, 4) %}
        <h2>Hello from main view!</h2>
    {% else %}
        <h2>Hello, home!</h2>
    {% end_if_equal %}

    <table style="border: 1px solid black">
        {% for i, item : test_array %}
            <tr>
				<td>{{ i }}</td>
				<td>{{ item }}</td>
			</tr>
        {% empty %}
            <tr>
                <td>-</td>
                <td>Sorry, test_array is empty :(</td>
            </tr>
        {% end_for %}
    </table>

    <ul>
        {% ignore %}
            Some multiline comment
        {% end_ignore %}
        <li><a href="{% url('Form::profile', 2048, 'YuriyLisovskiy') %}">Go to form!</a></li>

        {# Some single-line comment #}
        <li><a href="{% url('picture::view_pic') %}">View picture!</a></li>
    </ul>
</body>
</html>
